body {
  background-color: #fff5e4;
}

hr {
  background-color: #fff5e4;
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(93, 43, 43);
  border-width: 10px;
  width: 10%;
}

h1 {
  color: rgb(93, 43, 43);
}
h3 {
  color: rgb(93, 43, 43);
}
